table{
    border-collapse: collapse;
    margin: 100px;
}
.table{
    justify-content: center;
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
th{padding: 20px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}