table{
    border-collapse: collapse;
    margin: 100px;
}
.table{
    justify-content: center;
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    padding:10px 25px;
}
th{padding:10px 25`px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}